/* Базові скидання */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.burger-button{
  background-color: #1a1a1a;
  border: none;
}

/* Панель */
.nav-bar {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 20px;
}

/* Навігація */
.nav {
  display: none;
}

.nav ul {
  list-style: none;
}

.nav li {
  margin: 10px 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Бургер */
.burger {
  cursor: pointer;
  width: 30px;
  height: 21px;
  position: relative;
  z-index: 1000;

}

.burger span {
  display: block;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
}

/* Анімація бургер-іконки */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Коли меню активне */
.nav.active {
  display: block;
}

/* Адаптивність */
@media (min-width: 1400px) {
  .burger {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav ul {
    display: flex;
    gap: 20px;
  }

  .nav li {
    margin: 0;
  }
}
